@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #25adff !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #25adff !important;
  border-color: #25adff !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0086d7 !important;
  border-color: #0086d7 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0086d7 !important;
  border-color: #0086d7 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0077be;
  color: #0077be;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #25adff;
  border-color: #25adff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #25adff !important;
  border-color: #25adff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #25adff !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0077be !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #25adff;
  border-color: #25adff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #25adff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f1faff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #25adff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #25adff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #25adff;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #25adff;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #25adff;
  border-bottom-color: #25adff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #25adff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2325adff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rnRmf4CKg5 .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rnRmf4CKg5 .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rnRmf4CKg5 a {
  font-style: normal;
}
.cid-rnRmf4CKg5 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rnRmf4CKg5 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rnRmf4CKg5 .nav-item:focus,
.cid-rnRmf4CKg5 .nav-link:focus {
  outline: none;
}
.cid-rnRmf4CKg5 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rnRmf4CKg5 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rnRmf4CKg5 .menu-logo {
  margin-right: auto;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rnRmf4CKg5 .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rnRmf4CKg5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rnRmf4CKg5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rnRmf4CKg5 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rnRmf4CKg5 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rnRmf4CKg5 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rnRmf4CKg5 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rnRmf4CKg5 button.navbar-toggler:focus {
  outline: none;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rnRmf4CKg5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rnRmf4CKg5 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rnRmf4CKg5 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rnRmf4CKg5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rnRmf4CKg5 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rnRmf4CKg5 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rnRmf4CKg5 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.9rem);
  }
}
.cid-rnRmf4CKg5 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rnRmf4CKg5 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rnRmf4CKg5 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rnRmf4CKg5 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rnRmf4CKg5 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rnRmf4CKg5 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rnRmf4CKg5 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rnRmf4CKg5 .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rnRmf4CKg5 img {
    height: 3.8rem !important;
  }
  .cid-rnRmf4CKg5 .btn {
    display: -webkit-flex;
  }
  .cid-rnRmf4CKg5 button.navbar-toggler {
    display: block;
  }
  .cid-rnRmf4CKg5 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rnRmf4CKg5 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rnRmf4CKg5 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing,
  .cid-rnRmf4CKg5 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing .navbar-nav,
  .cid-rnRmf4CKg5 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rnRmf4CKg5 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rnRmf4CKg5 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rnRmf4CKg5 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rnRmf4CKg5 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rnRmf4CKg5 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rnRmf4CKg5 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rnRmf4CKg5 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rnRmf4CKg5 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rnRmf4CKg5 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rnRmf4CKg5 .nav-link:hover,
.cid-rnRmf4CKg5 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rnn0SvbuEN {
  padding-top: 120px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rnn0SvbuEN P {
  color: #767676;
}
.cid-rnn0SvbuEN H1 {
  color: #e60000;
  text-align: center;
}
.cid-rnn0SvbuEN .mbr-text,
.cid-rnn0SvbuEN .mbr-section-btn {
  color: #ffffff;
}
.cid-rnn0SvbuEN SPAN {
  color: #25adff;
}
.cid-rnn0SvbuEN I {
  color: #25adff;
}
.cid-rWnegp6DEH {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-rWnegp6DEH .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rWnegp6DEH .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rWnegp6DEH .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rWnegp6DEH .mbr-text {
    text-align: center;
  }
}
.cid-rWnegp6DEH H1 {
  color: #e60000;
}
.cid-rWnegp6DEH .mbr-text,
.cid-rWnegp6DEH .mbr-section-btn {
  color: #000000;
}
.cid-rWnwX0IAkd {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rWnwX0IAkd H2 {
  color: #073b4c;
}
.cid-rWnrk6jnae {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #efefef;
}
.cid-rWnrk6jnae .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-rWnrk6jnae .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-rWnrk6jnae .media-container-row .img-item .img-cont {
  position: relative;
  overflow: hidden;
}
.cid-rWnrk6jnae .media-container-row .img-item .img-cont img {
  width: 100%;
}
.cid-rWnrk6jnae .media-container-row .img-item .img-cont .img-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-rWnrk6jnae .media-container-row .img-item .img-cont .img-caption p {
  margin-bottom: 0;
}
.cid-rWnrk6jnae .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-rWnrk6jnae .img-item {
    width: 100% !important;
  }
  .cid-rWnrk6jnae .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-rWnwGL32JX {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rWnwGL32JX P {
  color: #767676;
}
.cid-rnQPm3jjpB {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rnQPm3jjpB P {
  color: #767676;
}
.cid-rnQPm3jjpB H1 {
  color: #073b4c;
}
.cid-rnQPm3jjpB DIV {
  color: #ffffff;
}
.cid-rnQPm3jjpB SPAN {
  color: #000000;
}
.cid-rWnDCnjYUp {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rWnDCnjYUp h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rWnDCnjYUp p {
  color: #767676;
  text-align: left;
}
.cid-rWnDCnjYUp .card-box {
  padding-top: 2rem;
}
.cid-rWnDCnjYUp .card-wrapper {
  height: 100%;
}
.cid-rWnDCnjYUp P {
  color: #2362ff;
  text-align: center;
}
.cid-rnR7jeRwDn {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 30px;
}
.cid-rnR7jeRwDn .image-block {
  margin: auto;
}
.cid-rnR7jeRwDn figcaption {
  position: relative;
}
.cid-rnR7jeRwDn figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rnR7jeRwDn .image-block {
    width: 100% !important;
  }
}
.cid-rKWwUpMuTb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ff0912;
}
.cid-rnRcLI9jNn {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #ffffff;
}
.cid-rnRcLI9jNn .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-rnRcLI9jNn .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-rnRcLI9jNn .media-container-row .img-item .img-cont {
  position: relative;
  overflow: hidden;
}
.cid-rnRcLI9jNn .media-container-row .img-item .img-cont img {
  width: 100%;
}
.cid-rnRcLI9jNn .media-container-row .img-item .img-cont .img-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-rnRcLI9jNn .media-container-row .img-item .img-cont .img-caption p {
  margin-bottom: 0;
}
.cid-rnRcLI9jNn .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-rnRcLI9jNn .img-item {
    width: 100% !important;
  }
  .cid-rnRcLI9jNn .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-rnRagXK4Zj {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #25adff;
}
.cid-rnRagXK4Zj .mbr-section-subtitle {
  color: #767676;
}
.cid-rnRagXK4Zj H2 {
  color: #ffffff;
}
.cid-rnRagXK4Zj DIV {
  color: #000000;
}
.cid-rnR8lB0VDn {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rnR8lB0VDn h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rnR8lB0VDn p {
  color: #767676;
  text-align: left;
}
.cid-rnR8lB0VDn .card-box {
  padding-top: 2rem;
}
.cid-rnR8lB0VDn .card-wrapper {
  height: 100%;
}
.cid-rnRdIcv029 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #25adff;
}
@media (min-width: 992px) {
  .cid-rnRdIcv029 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rnRdIcv029 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rnRdIcv029 .mbr-text {
  color: #ffffff;
}
.cid-rnn5vOKIL4 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #25adff;
}
.cid-rnn5vOKIL4 .mbr-section-subtitle {
  color: #767676;
}
.cid-rnn5vOKIL4 H2 {
  color: #ffffff;
}
.cid-rnn5vOKIL4 DIV {
  color: #000000;
}
.cid-rnRfITT1Rx {
  background: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
}
.cid-rnRfITT1Rx .image-block {
  margin: auto;
}
.cid-rnRfITT1Rx figcaption {
  position: relative;
}
.cid-rnRfITT1Rx figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rnRfITT1Rx .image-block {
    width: 100% !important;
  }
}
.cid-rKWx9E0y2j {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rKWx9E0y2j .mbr-section-subtitle {
  color: #767676;
}
.cid-rnRgxE82CS {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 75px;
}
.cid-rnRgxE82CS .image-block {
  margin: auto;
}
.cid-rnRgxE82CS figcaption {
  position: relative;
}
.cid-rnRgxE82CS figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rnRgxE82CS .image-block {
    width: 100% !important;
  }
}
.cid-rWnFf9EuoU {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-rWnFf9EuoU .item {
  padding-bottom: 2rem;
}
.cid-rWnFf9EuoU .carousel-control,
.cid-rWnFf9EuoU .close {
  background: #1b1b1b;
}
.cid-rWnFf9EuoU .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-rWnFf9EuoU .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-rWnFf9EuoU .close {
  position: fixed;
  opacity: .5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  font-family: 'MobiriseIcons';
}
.cid-rWnFf9EuoU .close::before {
  content: '\e91a';
}
.cid-rWnFf9EuoU .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-rWnFf9EuoU .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: .5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-rWnFf9EuoU .carousel-inner > .active {
  display: block;
}
.cid-rWnFf9EuoU .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rWnFf9EuoU .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rWnFf9EuoU .carousel-control .icon-next,
.cid-rWnFf9EuoU .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rWnFf9EuoU .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-rWnFf9EuoU .carousel-control,
  .cid-rWnFf9EuoU .carousel-indicators,
  .cid-rWnFf9EuoU .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-rWnFf9EuoU .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-rWnFf9EuoU .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rWnFf9EuoU .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-rWnFf9EuoU .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-rWnFf9EuoU .carousel-indicators {
    display: none;
  }
}
.cid-rWnFf9EuoU .carousel-indicators .active,
.cid-rWnFf9EuoU .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: .5;
  border: 4px solid #1b1b1b;
}
.cid-rWnFf9EuoU .carousel-indicators .active {
  background: #fff;
}
.cid-rWnFf9EuoU .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-rWnFf9EuoU .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-rWnFf9EuoU .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rWnFf9EuoU .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-rWnFf9EuoU .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-rWnFf9EuoU .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(98.25vh);
}
.cid-rWnFf9EuoU .carousel {
  width: 100%;
}
.cid-rWnFf9EuoU .modal-dialog .carousel-inner {
  height: auto;
}
.cid-rWnFf9EuoU .modal-backdrop.in {
  opacity: .8;
}
.cid-rWnFf9EuoU .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-rWnFf9EuoU .modal.fade .modal-dialog,
.cid-rWnFf9EuoU .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-rnRjNe8Yjj {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-rnRmf4CKg5 .navbar {
  padding: .5rem 0;
  background: #333333;
  transition: none;
  min-height: 77px;
}
.cid-rnRmf4CKg5 .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rnRmf4CKg5 a {
  font-style: normal;
}
.cid-rnRmf4CKg5 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rnRmf4CKg5 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rnRmf4CKg5 .nav-item:focus,
.cid-rnRmf4CKg5 .nav-link:focus {
  outline: none;
}
.cid-rnRmf4CKg5 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rnRmf4CKg5 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rnRmf4CKg5 .menu-logo {
  margin-right: auto;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rnRmf4CKg5 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rnRmf4CKg5 .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rnRmf4CKg5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rnRmf4CKg5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rnRmf4CKg5 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rnRmf4CKg5 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rnRmf4CKg5 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rnRmf4CKg5 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rnRmf4CKg5 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rnRmf4CKg5 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rnRmf4CKg5 button.navbar-toggler:focus {
  outline: none;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rnRmf4CKg5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rnRmf4CKg5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rnRmf4CKg5 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rnRmf4CKg5 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rnRmf4CKg5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rnRmf4CKg5 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rnRmf4CKg5 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rnRmf4CKg5 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rnRmf4CKg5 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.9rem);
  }
}
.cid-rnRmf4CKg5 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rnRmf4CKg5 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rnRmf4CKg5 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rnRmf4CKg5 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rnRmf4CKg5 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rnRmf4CKg5 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rnRmf4CKg5 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rnRmf4CKg5 .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rnRmf4CKg5 img {
    height: 3.8rem !important;
  }
  .cid-rnRmf4CKg5 .btn {
    display: -webkit-flex;
  }
  .cid-rnRmf4CKg5 button.navbar-toggler {
    display: block;
  }
  .cid-rnRmf4CKg5 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rnRmf4CKg5 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rnRmf4CKg5 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing,
  .cid-rnRmf4CKg5 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing .navbar-nav,
  .cid-rnRmf4CKg5 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rnRmf4CKg5 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rnRmf4CKg5 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rnRmf4CKg5 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rnRmf4CKg5 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rnRmf4CKg5 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rnRmf4CKg5 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rnRmf4CKg5 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rnRmf4CKg5 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rnRmf4CKg5 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rnRmf4CKg5 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rnRmf4CKg5 .nav-link:hover,
.cid-rnRmf4CKg5 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-rnRjNe8Yjj {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
